<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/images/apple-icon-180x180.png') }}">
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
    <title>Atlas Tech</title>  
  </head>
  